<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="Bilans energetyczny"
	content="Dziennik żywieniowy; dziennik aktywności; obliczenia bilansu energetycznego" />
<title>Add to data base</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
	<div th:class="container">
		<aside class="header">
			<a href="/" class="logo" title="Home"><i
				class="fas fa-calculator"></i> MyBalance</a>

			<form action="logmeout" th:action="@{/login_form}" method="post"
				sec:authorize="!isAuthenticated()">
				<input type="submit" value="Zaloguj" class="my-button" />
			</form>

			<form action="logmeout" th:action="@{/logmeout}" method="post"
				sec:authorize="isAuthenticated()">
				<input type="submit" value="Wyloguj" class="my-button" />
			</form>
		</aside>
		<aside class="menu">
			<ul>
				<li><a href="#" th:href="@{/}"><i class="fas fa-home"></i>
						Home</a></li>
				<li><a href="#" th:href="@{/diary}"><i class="fas fa-book"></i>
						Mój dziennik</a></li>
				<li><a href="#" th:href="@{/balance}"><i
						class="fas fa-balance-scale-right"></i> Mój bilans</a></li>
				<li><a href="#" th:href="@{/userInfo}"><i
						class="fas fa-user"></i> Moje dane</a></li>
				<li><a href="#" th:href="@{/info}"><i
						class="fas fa-info-circle"></i> Informacje</a></li>
			</ul>
		</aside>
		<main class="content">
			<h2>Dodaj posiłek lub aktywność do bazy</h2>
			<div th:if="${record != null}">
				<h3 th:text="'Dodano rekord do bazy: ' + *{record.toString}"></h3>
			</div>
			<p>Dodawaj rekordy do bazy, a następnie korzystaj z nich
				uzupełniając swój dziennik żywieniowy</p>
			<hr>
			<div>
				<form th:action="@{/addMealToDataBase}" method="post" class="form">
					<h3>Dodaj nowy posiłek lub produkt</h3>
					<label for="mCat">Kategoria: </label> <select name="mealCat"
						class="select" id="mCat">
						<option th:each="item: ${mealCat}" th:text="*{item}"></option>
					</select> <label for="mName">Nazwa posiłku:</label> <input type="text"
						maxlength="50" name="mealName" id="mName" required /> <label
						for="mKcal">Energia (kilokalorie):</label> <input type="number"
						min="10" max="2000" name="mealKcal" id="mKcal" required /> <label
						for="mDesc">Opis:</label>
					<textarea maxlength="200" name="mealDesc" id="mDesc"></textarea>
					<input type="submit" value="dodaj" class="my-button" />
				</form>
			</div>
			<hr>
			<div>
				<form th:action="@{/addActivityToDataBase}" method="post"
					class="form">
					<h3>Dodaj nową aktywność</h3>
					<label for="aCat">Kategoria: </label> <select name="actCat"
						class="select" id="aCat">
						<option th:each="item: ${actCat}" th:text="*{item}"></option>
					</select> <label for="aName">Nazwa aktywności:</label> <input type="text"
						maxlength="50" name="actName" id="aName" required /> <label
						for="aKcal">Energia (kilokalorie):</label> <input type="number"
						min="50" max="2500" name="actKcal" id="aKcal" required /> <label
						for="aDesc">Opis:</label>
					<textarea maxlength="200" name="actDesc" id="aDesc"></textarea>
					<input type="submit" value="dodaj" class="my-button" />
				</form>
			</div>
			<hr>
			<p>
				<a th:href="@{/adminPage/}">AdmPage</a>
			</p>
		</main>
		<footer>MyBalance ® 2021</footer>
	</div>
</body>
</html>

