<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="Bilans energetyczny"
	content="Dziennik żywieniowy; dziennik aktywności; obliczenia bilansu energetycznego" />
<title>My Balance</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
	<div th:class="container">
		<aside class="header">
			<a href="/" class="logo" title="Home"><i
				class="fas fa-calculator"></i> MyBalance</a>
			<form action="logmeout" th:action="@{/login_form}" method="post"
				sec:authorize="!isAuthenticated()">
				<input type="submit" value="Zaloguj" class="my-button" />
			</form>
			<form action="logmeout" th:action="@{/logmeout}" method="post"
				sec:authorize="isAuthenticated()">
				<input type="submit" value="Wyloguj" class="my-button" />
			</form>
		</aside>
		<aside class="menu">
			<ul>
				<li><a href="#" th:href="@{/}"><i class="fas fa-home"></i>
						Home</a></li>
				<li><a href="#" th:href="@{/diary}"><i class="fas fa-book"></i>
						Mój dziennik</a></li>
				<li><a href="#" th:href="@{/addToDataBase}"><i
						class="fas fa-folder-plus"></i> Dodaj do bazy</a></li>
				<li><a href="#" th:href="@{/userInfo}"><i
						class="fas fa-user"></i> Moje dane</a></li>
				<li><a href="#" th:href="@{/info}"><i
						class="fas fa-info-circle"></i> Informacje</a></li>
			</ul>
		</aside>
		<main class="content">
			<h2>Twój bilans energetyczny - podsumowanie z wybranego zakresu
				dni</h2>
			<p>
				Aby wybrać inne daty<a th:href="@{/balance}"> WRÓĆ</a>
			</p>
			<hr>
			<div th:object="${totalBalCalc}">
				<table class="table">
					<caption
						th:text="'Zestawiene z okresu od: '+ ${totalBalCalc.fromDate}+' do: '+ ${totalBalCalc.toDate}"></caption>
					<tr>
						<td class="td13">Suma kalorii przyjętych z pożywieniem</td>
						<td th:text="${totalBalCalc.totalKcalIn}+' kcal'"></td>
					</tr>
					<tr>
						<td class="td13">Suma wydatków z aktywności</td>
						<td th:text="${totalBalCalc.totalKcalSpent}+' kcal'"></td>
					</tr>
					<tr>
						<td class="td13">Bilans uwzględniający podstawowy wydatek
							użytkownika oraz wydatek na pracę*</td>
						<td th:text="${totalBalCalc.getKcalBalance}+ ' kcal'"></td>
					</tr>

					<tr>
						<td class="td13">Średni bilans z wybranego okresu*</td>
						<td th:text="${totalBalCalc.averageBalance}+ ' kcal'"></td>
					</tr>
					<tr>
						<td class="td13">Wskaznik procentowego pokrycia
							zapotrzebowania</td>
						<td th:text="${totalBalCalc.getBalanceRate}+ ' %'"></td>
					</tr>
					<tr>
						<td class="td13">Ocena pokrycia zapotrzebowania</td>
						<td th:text="${totalBalCalc.getBalanceDesc}"></td>
					</tr>
				</table>
				<p>*bilans ujemny oznacza DEFICYT i reprezentuje "brakujące
					kalorie"; wartość dodatnia to NADWYŻKA i ilość "nadprogramowych"
					kalorii.</p>
			</div>
			<hr>
			<p
				th:text="'Twoje przeciętne zapotrzebowanie energetyczne uwzględniające podstawowy wydatek energetyczny oraz rodzaj wykonywanej pracy to: '+${currentUser.getBasicExpenseWithJob}+' kcal'"></p>
			<hr>
			<h2>Bilans dla każdego dnia z wybranego zakresu dat</h2>

			<table th:each="r: ${balCalc}" class="table">
				<caption th:text="*{r.date} +' '+ *{r.dayOfWeek} " /></caption>
				<tr>
					<td class="td13">Suma kalorii przyjętych z pożywieniem</td>
					<td th:text="*{r.kcalIn}+' kcal'"></td>
				</tr>
				<tr>
					<td class="td13">Suma wydatków z aktywności</td>
					<td th:text="*{r.kcalSpent}+' kcal'"></td>
				</tr>
				<tr>
					<td class="td13">Twoje podstawowe zapotrzebowanie energetyczne
						uwzględniające pracę</td>
					<td th:text="*{r.getBasicExp}+' kcal'"></td>
				</tr>
				<tr>
					<td class="td13">Bilans</td>
					<td th:text="*{r.getKcalBalance}+' kcal'"></td>
				</tr>
				<tr>
					<td class="td13">Procentowy wskaznik pokrycia zapotrzebowania</td>
					<td th:text="*{r.getBalanceRate}+' %'"></td>
				</tr>
				<tr>
					<td class="td13">Ocena pokrycia zapotrzebowania</td>
					<td th:text="${r.getBalanceDesc}"></td>
				</tr>
			</table>
			<hr>
		</main>


		<footer>MyBalance ® 2021</footer>
	</div>


</body>
</html>